<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="processing.test.pew">
 <uses-permission android:name="android.permission.VIBRATE"></uses-permission>
   <uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.READ_PHONE_STATE" /> 
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
 <uses-sdk android:minSdkVersion="11"/>
  <application android:debuggable="false" android:icon="@drawable/icon" android:label="PEW" android:largeHeap="true">
    <activity android:name=".PEW">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>  
          <activity android:name="com.swarmconnect.SwarmMainActivity"
    android:configChanges="orientation|keyboardHidden"
    android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
    android:windowSoftInputMode="stateHidden" />
<service android:name="com.swarmconnect.NotificationService" android:process=":swarm"/>
  </application>
</manifest>
